@import "readable-variables.less";


@rojounqui: #952333;
@white: #ededed;

@brand-primary:          @rojounqui;
@tooltip-bg:             @brand-primary;

@link-color:            @brand-info;

@font-family-sans-serif:  "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
@font-family-serif:       "Droid Serif", Georgia, "Times New Roman", Times, serif;
 
//@header-height: @navbar-height;

@regularMargins: 20px;

@mainOffset: (@navbar-height + @regularMargins);


//contenido
@interMargin:50px;

@innerOffset:50px;

@containerPaddings : 100px;

@deltaSize: 100px;

@paragraphMargin: 0 0 10px;


@border-radius-base:        0px;
@border-radius-small:       2px;
@border-radius-large:       4px;

//

//=== Inverted navbar
// Reset inverted navbar basics
@navbar-inverse-color:                      @white;
@navbar-inverse-bg:                         @brand-primary;
@navbar-inverse-border:                     transparent;

// Inverted navbar links
@navbar-inverse-link-color:                 @white;
@navbar-inverse-link-hover-color:           darken(@white, 10%);
@navbar-inverse-link-hover-bg:              transparent;
@navbar-inverse-link-active-color:          @white;
@navbar-inverse-link-active-bg:             transparent;
@navbar-inverse-link-disabled-color:        @gray-light;
@navbar-inverse-link-disabled-bg:           transparent;

// Inverted navbar brand label
@navbar-inverse-brand-color:                @navbar-inverse-link-color;
@navbar-inverse-brand-hover-color:          @navbar-inverse-link-hover-color;
@navbar-inverse-brand-hover-bg:             transparent;

// Inverted navbar toggle
@navbar-inverse-toggle-hover-bg:            #ddd;
@navbar-inverse-toggle-icon-bar-bg:         #ccc;
@navbar-inverse-toggle-border-color:        #ddd;