@import "readable-variables.less";


@rojounqui: #952333;
@white: #ededed;

@brand-primary:          @rojounqui;
//@headings-color:      @brand-primary;
@tooltip-bg:                  @brand-primary;

@font-family-sans-serif:  "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
@font-family-serif:       "Droid Serif", Georgia, "Times New Roman", Times, serif;

//@header-height: @navbar-height;

@regularMargins: 20px;

@mainOffset: (@navbar-height + @regularMargins);



@innerOffset:0px;
@containerPaddings : 100px;

@deltaSize: 100px;

@paragraphMargin: 0 0 10px;


@border-radius-base:        0px;
@border-radius-small:       2px;
@border-radius-large:       4px;

